* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

  body {
    display: flex;
    height: 100vh;
    font-size: 1.2em;
    font-family: sans-serif;
  }

  .logo-banner {
    display: flex;
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    color: white;
    font-size: 4rem;
    gap: 1rem;
    margin-bottom: 20rem;
  }

  .logo {
    max-width: 100px;
    /* aspect-ratio: 313/418; this is the TOP logo's aspect ratio */
  }

  main, aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header, section {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  label {
    margin-top: 2em;
    font-size: 0.8em;
  }

  input {
    width: 30ch;
    border: 1px solid #E5E7EB;
  }

  input:active {
    outline: 4px solid #094878;
  }

  input:focus {
    outline: 2px solid #094878;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  p {
    max-width: 66ch;
    margin-top: 1rem;
  }

  h1 {
    font-family: serif;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  label::before{
    content: "*";
  }

  .column-wrapper {
    width: 40vw;
  }

  .form {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }

  .sidebar {
    background-image: url("splash-biggest.jpeg");
    width: 25vw;
    background-size: cover;
    font-family: "Protest Guerrilla";
    font-weight: 400;
    font-style: normal;
    gap: 
  }

  main {
    width: 75vw;
  }

  .attribution {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    font-family: reset;
  }

  a {
    text-decoration: none;
    color: #ccc;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    flex-grow: 0;
    padding: 0.5em 2em;
    border: 0.125rem solid #fcdbd6;
    border-radius: 0.5em;
    width: 24ch;
    color: white;
    font-size: 1.5rem;
    background-color: #094878;
    font-weight: 900;
    outline: 0.125rem solid #894878;
  }

  .alternative {
    font-size: 1em;
    padding-top: 1rem;
    color: #777;
  }

  .alternative a {
    color: #444;
  }